<%= form_for(@list) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.collection_check_boxes(:location_ids, Location.all, :id, :name, {:selected => params[:location_id], :class => "form-control input-lg" }) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>