<div class="col-xs-12 col-sm-4 col-md-3">
  <div class="panel panel-default ">

    <div class="panel-heading list-name", onclick="window.location.href = '<%= url_for list_path(list) %>'">
      <strong><%= list.name %></strong>
      <%= link_to list, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class='glyphicon glyphicon-remove pull-right del-button del-button-hide'></span>
      <% end %>
    </div>

    <table class="table">
      <tr onclick="window.location.href = '<%= url_for location_path(list) %>'">
      </tr>
        <% list.favorites.each do |favorite| %>
          <tr onclick="window.location.href = '<%= url_for favorite.location %>'">
            <td class='list-item'><%= favorite.location.name %>
              <%= link_to favorite, method: :delete  do %>
                <span class='glyphicon glyphicon-remove pull-right del-button del-button-hide'></span>
              <% end %>
            </td>
          </tr>
        <% end %>
    </table>
  </div>
</div>





