<div class="col-xs-12 col-sm-4 col-md-3">
  <div class="panel panel-default ">
      
    <div class="panel-heading list-name", onclick="window.location.href = '<%= url_for location_path(location) %>'">
      <%= location.name %>
      <%= link_to location, method: :delete do %>
          <span class='glyphicon glyphicon-trash'></span>
      <% end %>
    </div>

    <table class="table">
      <tr onclick="window.location.href = '<%= url_for location_path(location) %>'">
        <td class="list-item"><%= location.name %></td>
      </tr>
    </table>
  </div>
</div>



