<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
  <div class="panel panel-default outside-loc-box", onclick="window.location.href = '<%= url_for location_path(location) %>'", style="background-image: url('<%= location.url %>')">
    <div class="panel-body 
      <% if (location.url != nil) %>
        loc-box-gradient
      <% else %>
        loc-box
      <% end %>"
    >

        <%= link_to location, method: :delete do %>
            <span class='glyphicon glyphicon-remove pull-right list-name'></span>
        <% end %>

      <div class=" 
      <% if (location.url != nil) %>
        loc-content-gradient
      <% else %>
        loc-content
      <% end %>"
    >
        <strong><%= location.name %></strong>
        <br>
        <% if (location.michelinrate > 0) %>
          <% location.michelinrate.times do %>
            <span class='glyphicon glyphicon-star'></span>
          <% end %>
        <% else %>
          Bib Gourmand
        <% end %>

        <br>
        <%= location.city %>
      </div>
    </div>
  </div>
</div>


 <!--  <ul class="media-list, onclick="window.location.href = '<%#= url_for location_path(location) %>'"">
    <li class="media">
      <a class="pull-left" href="#">
        <img class="media-object" src="http://placekitten.com/100/100">
      </a>
      <div class="media-body">
        <h4 class="media-heading"><%#= location.name %></h4>
          <%#= link_to location, method: :delete do %>
            <span class='glyphicon glyphicon-remove pull-right list-name'></span>
          <%# end %>
          
          Michelin Rating: <%# location.michelinrate.times do %>
            <span class='glyphicon glyphicon-star'></span>
          <%# end %>
          <br>
          <%#= location.city %>
      </div>
    </li>
  </ul> -->

