<!-- <button type="button" id="popover" class="btn btn-default" data-contentwrapper="#mycontent" data-container="body" data-toggle="popover" data-placement="top" data-html="true" >
  Popover on top
</button> -->
<!-- 
<div id="mycontent">
  <% form_for Favorite.new do |f| %>
    <%= f.collection_select :list_id, current_user.lists, :id, :name, prompt: '-- Choose list --' %>
    <%= f.hidden_field :location_id, id:"location_id" %>
    <%= f.submit '+', class: 'add glyphicon glyphicon-plus pull-right list-name add' %>
  <% end %>
</div> -->




<p><%= render @locations %></p>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add <span id="loc"></span> to your list... </h4>
      </div>
      <div class="modal-body">
        <%= form_for Favorite.new do |f| %>
          <%= f.collection_select :list_id, current_user.lists, :id, :name, prompt: '-- Choose list --' %>
          <%= f.hidden_field :location_id, id:"location_id" %>
          <%= f.submit '+', class: 'add glyphicon glyphicon-plus pull-right list-name add' %>
        <% end %>
      </div>
    </div>
  </div>
</div>






<script type="text/javascript">
  function noBubble(obj,evt,location_id) {
    $('#location_id').val(location_id);    
    $('#myModal').modal('show');
    if (!evt) var evt = window.event;
    if (evt) evt.cancelBubble = true;
    if (evt.stopPropagation) evt.stopPropagation();
    console.log(location_id);
    console.log(location_name);
  }
</script>


